.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 13vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: inset;
  font-size: calc(10px + 2vmin);
  color: white;

  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.liste{
  display: flex;
    flex-wrap: wrap;
    /* align-content: revert-layer; */
    justify-content: space-between;
    margin-top: 30px;
    
}
.container{
  margin-top: 10px;
  margin-block-end: 80px;
}
.input-wapper{
  background-color: black;
  border-radius: 10px;
  margin-right: 10px;
  border: outset;

}
.input-text{
  background-color: white;
  border-radius: 10px;
  width: 150px;
}
.logo{
  width: 120px;
  margin: 10px;
  border: outset;
}
.footer{
  background-color: #282c34;
    color: white;
   
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: inset;
}
.navbar{
  border: outset;
}
.univ{
  margin-bottom: 30px;
}
